h1 {
    color: rgb(0,122,51);
    text-align: center;
    background-color: white;
}

.main {
    text-align: center;
    margin: auto;
    border: 10px solid rgb(0,122,51);
    width: 600px;
    height: 600px;
    display: block;
    background-color: rgb(224, 206, 104);
    position: relative;
}

.snake {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: red;
    visibility: hidden;
}

.trophy {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gold;
    background-image: url("assets/trophy.jpeg");
    background-size: cover;
}

label {
    padding: 10px;
    color: rgb(255, 70, 70);
    font-weight: bold;
}

.endMessage {
    text-align: center;
    font-size: 30px;
}
